.WebsiteName {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    color: #38ae60;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.navbarM {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.line {
    color: #F98513;
}

.navbar {
    background: linear-gradient(to right, #FFFFFF, #FFFFFF, #F4F1EC);
    padding: 0.8rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.navbar-brand img {
    height: 45px;
    margin-right: 10px;
}

.nav-link {
    color: #38ae60;
    font-weight: 400;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color:#F98513;
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-link:hover {
    color: #F98513;
}

.nav-link.now {
    color: #38ae60;
    font-weight: 400;
    margin: 0 10px;
    position: relative;
}

.nav-buttons .btn {
    margin-left: 10px;
    font-weight: 400;
    border-radius: 25px;
    padding: 6px 18px;
    transition: all 0.3s ease;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-signin {
    background-color: #F98513;
    color: #F2F3F4;
}

.btn-signin:hover {
    background-color: transparent;
    color: #F98513;
    transform: scale(1.05);
    border: 2px solid #F98513;
}

.btn-signup {
    background-color: transparent;
    border-color: #38ae60;
    color: #38ae60;
    border: 2px solid #38ae60;
}

.btn-signup:hover {  
    transform: scale(1.05);
    background-color: #38ae60;
    color: #F4F1EC;
}

@media (max-width: 992px) {
    .nav-buttons .btn {
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
    }
}